---

# Tasks to configure VM once it's deployed.

- name: Set Timezne and DNS resolvers
  set_params:
    ip: "{{ ansible_default_ipv4.network }}"

- name: Set hostname to {{ vm_hostname }}
  hostname:
    name: "{{ vm_hostname }}"

- name: Create groups
  group:
    name: "{{ item }}"
    state: present
  loop:
    - ansible
    - failsafe

- name: Add Users
  user:
    name: "{{ item }}"
    comment: Automation user
    groups:
      - "{{ item }}"
      - "wheel"
    append: yes
    shell: /usr/bin/bash
    password: "$6$itluk$e5qW7SIAilQ0RzNRm4JpF5NTmj69m4G4mR0PNh9az/JMHoaxpkYFHfjUSshTzsC7wX83xG4bJflj.ch7HXtNj0"
  loop:
    - ansible
    - failsafe

- name: Push ssh key
  authorized_key:
    user: "{{ item.0 }}"
    state: present
    key: "{{ item.1 }}"
  with_together:
    - [root, ansible, failsafe]
    - ["{{ lookup('file', '/root/.ssh/id_rsa.pub') }}", "{{ lookup('file', '/home/tux/.ssh/id_rsa.pub') }}", "{{ lookup('file', '/home/failsafe/.ssh/id_rsa.pub') }}"]

- name: Allow 'wheel' group to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%wheel'
    line: '%wheel ALL=(ALL) NOPASSWD: ALL'
    validate: 'visudo -cf %s'

- name: Copy motd file
  copy:
    src: ../templates/motd
    dest: /etc/motd
    backup: true
  tags:
    - motd

- name: Set the timezone
  timezone:
    name: "{{ timezone }}"

- name: Edit resolv.conf
  template:
    src: ../templates/resolv.conf
    dest: /etc/resolv.conf
    backup: true

- name: RHEL spcyfic config
  include_tasks: rhel.yml
  when: ansible_os_family == 'RedHat'
